.ad_space_center{
    text-align: center;
    margin-top:20px;
    margin-bottom: 20px;
}

.vertical_side_ads_left{
    float:left;
    width:14%;
    margin:50px 10px 10px 10px;
}

.vertical_side_ads_right{
    float:right;
    width:14%;
    margin:50px 10px 10px 10px;
}