.listing_box{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.list_entry{
    width:49%;
    height: 450px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px grey;
    margin-bottom: 20px;
}

.list_entry h2{
    margin-left: 10px;
    margin-top: 15px;
}

.list_entry img{
    width:35%;
    height:250px;
    margin-top:10px;
    margin-left:8px;
}

.entry_textbox{
    width: 60%;
    height:fit-content;
    float: right;
    margin-top: 10px;
    margin-right:10px;
}

.entry_text{
    text-align: justify;
}

.entry_info{
    font-weight:bold;
}

h2{
    width:98%;
    font-weight:bold;
    margin-left:auto;
    margin-right: auto;
}

p{
    letter-spacing: 1px;
}

.listing_box_2{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.list_entry_2{
    width:24%;
    height:490px;
    border-radius:15px;
    box-shadow: 1px 1px 3px 2px grey;
    margin-bottom: 20px;
    text-align: center;
}

.list_entry_2 img{
    width:100%;
    height:250px;
    margin-top:10px;
    margin-bottom: 20px;
}

.list_entry_2 p{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:768px){
    
    .listing_box{
        flex-direction: column;
    }

    .list_entry{
        width:98%;
        height:fit-content !important;
        margin-left:auto;
        margin-right:auto;
    }
    
    .list_entry h2{
        width: fit-content;
        margin-left:auto;
        margin-right: auto;
    }

    .list_entry img{
        width:100%;
        margin:0;
    }

    .entry_textbox{
        float:none;
        width:95%;
        margin-left:auto;
        margin-right:auto;
    }

    .list_entry_2{
        width:48%;
        height:650px;
    }

    .list_entry_2 p{
        font-size: 14px;
    }

}