h1{
    width:100%;
    height:fit-content;
    text-align: center;
    margin-top:60px !important;
    margin-bottom: 60px !important;
    font-size:50px !important;
    color:white !important;
    text-shadow: 1px 1px 3px black;
}

.rounded_top{
    width:100%;
    height:100px;
    background-color: rgba(255,255,255,0.9);
    border-radius:50% 50% 0 0;
}

.container2{
    width:100%;
    height:fit-content;
    background-color: rgba(255,255,255,0.9);
    overflow: auto;
}

.tab_header{
    text-align: center;
    color:#484848;
    margin-top:10px;
}

.entry{
    width:90%;
    height:fit-content;
    margin:40px auto 40px auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.entryimage{
    width: 30%;
    height:250px;
    margin-top:auto;
    margin-bottom: auto;
	border-radius: 25px;
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.5);
}

.entrycontent{
    width:46%;
    height:fit-content;
}

.entrycontent h2{
    color:#484848;
}

.entrycontent p{
    font-size:18px;
    color: #484848;
}

.entrycontent p a{
    color:blue;
}

.entrycontent p a:hover{
    text-decoration: underline !important;
}

.read_more_less{
    width:130px;
    height:50px;
    border:2px solid #484848;
    border-radius:20px;
    text-align: center;
    overflow: visible;
    cursor: pointer;
}

.read_more_less p{
    color:#484848;
    font-weight:bold;
    margin-top:10px;
}

.read_more_less:hover{
    background-color: #484848;
}

.read_more_less:hover > p{
    color:white;
}

.read_more_content{
    display:none;
}

@media screen and (max-width:768px) {

    .entry{
        flex-direction: column;
    }

    .reverse{
        flex-direction: column-reverse;
    }

    .entryimage{
        width: 100%;
        height:250px;
        margin:0;
    }

    .entrycontent{
        width: 100%;
    }

    .entrycontent h2{
        margin-top: 10px;
        text-align: center;
    }

    .entrycontent p{
        font-size:16px;
    }

}