
.carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 250%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
  font-weight:bold;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
  
}

.f-social li {
  font-size: 1.5rem;
  padding: 0.5rem;
} 

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: white;
}

footer {
  background-color: #32357f;
  color: white;
}


/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
.top-navbar{
	position: static;
	z-index: 10;
}

.top-navbar .navbar{
	padding: 15px 0px;
	width: 100%;
	transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 100;
}

.top-navbar .navbar-light .navbar-nav .nav-link{
	color: #010101;
	font-size: 18px;
	padding: 0px 40px;
	border-radius: 4px;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
	background: #32357f;
	color: #ffffff;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link{
	background: #32357f;
	color: #ffffff;
	border-radius: 4px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
	border: none;
	 box-shadow: 2px 5px 6px rgba(0,0,0,0.5);
}

.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item:hover{
	background:  #32357f;
	color: #ffffff;
}
.navbar-light .navbar-toggler:hover{
	background: #32357f;
}



/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}
@media only screen and (max-width: 339px) {
  .nav-justified > .nav-item {
    display: table-cell;
    width: 1%;
    font-size: 9px;
  }


}
@media only screen and (max-width: 353px) {
  .nav-justified > .nav-item {
    display: table-cell;
    width: 1%;
    font-size: 9px;
  }

  
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 0.5rem;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #D0A772;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

@media only screen and (max-width: 474px) and (min-width: 394px) { 
  .nav-link {
    display: table-cell;
    padding: 0.5rem 1rem 33px;
  }
  .nav-justified > .nav-item {
    font-size: 11px;
  }
  
 }
